/* style.css */

/***global***/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li,
p {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    color:#F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/***sections***/

header,
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 25px 10%;
}

.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    gap: 50px;
    padding: 75px;
    justify-content: center;
    margin-bottom: 36px;
}

.hleft {
    max-width: 450px;
    text-align: left;
}

.hright {
    margin-top: 40px;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 16px;
}

.info-container {
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 36px;
}

.info {
    max-width: 175px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 48px;
}

#qtext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 12px;
    max-width: 1000px;
    text-align: justify;
}

#q-author {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 20%;
}

.CTA-center {
    display: flex;
    justify-content: center;
}

.CTA-container {
    background-color: #3882F6;
    padding: 30px;
    margin: 100px;
    gap: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 1000px;    
}

#CTA-header {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 700;
    margin: 0;
}

.CTA-L {
    text-align: justify;
    margin: 0;
    padding: 0;
}

/***components***/

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
}